<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="World Auto by Vip.phamquangthinh - Copyright 2019" />
	<title><%= tagline %> | WAVN</title>
	<% include ./head %>
	
</head>
<body>
	<div class="menu-x">
	<div class="grid-container">
		<div class=" grid-x grid-margin-x align-middle">
			<div class="logo cell shrink">
				<a href="/" title="Go to Home Page" ><span></span></a>
			</div>
			<div class="cell auto"></div>
			<div id="menu" class="cell shrink">
				<ul class="flex_wa ">
					<% menu.forEach(function(itemx){ %>
					<li><a href="#"><%= itemx %></a></li>
					<% }); %>
				</ul>
			</div>
		</div>

	</div>
	</div>
	<div class="body-x">
	<div class="grid-container">
		<div class="grid-x grid-margin-x">
			<div class="cell small-2">
				<div class="index-x">
					<ul>
						<li class="activ">Tài chính</li>
						<li>Bất động sản</li>
					</ul>
				</div>
			</div>
			<div class="cell small-10">
				<div id="content-x" class="content-x">
				
				</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<script src="master.js" type="text/babel"></script>
</body>
</html>